<div class="app-bg">
  <div class="app-container">
    <h1 class="app-title">
      理想的な食生活を送るなら🍽️<br>
      どちらのスタイル？
    </h1>

    <div class="choice-buttons">
      <!-- 一汁三菜 -->
      <%= form_with url: answer_health_checks_path, method: :post do %>
        <%= hidden_field_tag :question, "3" %>
        <%= hidden_field_tag :choice, "A" %>
        <%= submit_tag "一汁三菜", class: "app-button" %>
      <% end %>

      <!-- キン肉マンの食事 -->
      <%= form_with url: answer_health_checks_path, method: :post do %>
        <%= hidden_field_tag :question, "3" %>
        <%= hidden_field_tag :choice, "B" %>
        <%= submit_tag "プロテイン、鶏胸肉、ブロッコリー", class: "app-button secondary" %>
      <% end %>
    </div>
  </div>
</div>
