<div class="app-bg">
  <div class="app-container">

    <h1 class="app-title">
      あなたは今1階にいます。<br>
      2階に移動するなら？🚶‍♀️
    </h1>

    <div class="choice-buttons">
      <!-- 階段 -->
      <%= form_with url: answer_health_checks_path, method: :post do %>
        <%= hidden_field_tag :question, "1" %>
        <%= hidden_field_tag :choice, "A" %>
        <%= submit_tag "階段", class: "app-button" %>
      <% end %>

      <!-- エスカレーター -->
      <%= form_with url: answer_health_checks_path, method: :post do %>
        <%= hidden_field_tag :question, "1" %>
        <%= hidden_field_tag :choice, "B" %>
        <%= submit_tag "エスカレーター", class: "app-button secondary" %>
      <% end %>
    </div>

  </div>
</div>
